<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% include 'cdnlines.html' %}
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="offset-md-4 col-md-4">
          <marquee direction='right'><h1 class='text-center text-primary'>Please Update</h1></marquee>
          <form method="POST" action="{% url "save_update_data" updates.id  %}">
            {% csrf_token %}
            <label class='text-primary'>Enter Book Name</label>
            <input type="text" name='fname' value="{{updates.book_name}}" class='form-control'>
            <label class='text-primary'>Enter Author Name</label>
            <input type="text" name='aname' class='form-control' value="{{updates.author_name}}">
            <label class='text-primary'> Enter Publisher Name </label>
            <input type="text" name='pname' class='form-control' value="{{updates.publisher_name}}">
            <label class='text-primary'>Enter Emailid</label>
            <input type="email" name='email' class='form-control' value={{updates.email_id}}>
            <label class='text-primary'>Enter Book Price</label>
            <input type="float" name='price' class='form-control' value={{updates.price}}><br>
            <center>
                <input type="submit" value="Submit" class='btn btn-outline-success'>
                <input type="reset" value="Delete" class='btn btn-outline-danger'>
            </center>
          </form>
       </div>
       </div>
      </div>
  </body>
</html>
